/*--------------------------------------------------------*/
/* MODE COLOR: Modo Oscuro o claro
/*--------------------------------------------------------*/


#body-screen {
	position: fixed;
	left: .5rem;
	bottom: 15%;
}

#body-screen > .lbl-color {
    cursor: pointer;
    position: relative;
}

#body-screen > .lbl-color::after{
	content: "";
	top: 0;
	left: 0;
	z-index: 210;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	position: absolute;
	transition: ease .5s;
}

#body-screen > .lbl-color::after {
	background: url("../img/luna.svg") center /2.5rem no-repeat var(--grisOscuro);
	border: 3px ridge var(--grisMedio);
}

#body-screen > #swich-one:checked + .lbl-color::after {
	background: url("../img/sol.svg") center /2.5rem no-repeat var(--naranjaWin);
	border: 3px ridge var(--blanco1);
}

#body-screen > #swich-one {
	display: none;
}