/*--------------------------------------------------------*/
/* MODE COLOR: Modo Oscuro o claro
/*--------------------------------------------------------*/


#body-screen {
	position: fixed;
	left: .5rem;
	bottom: 15%;
}

#body-screen > .lbl-color {
    cursor: pointer;
    position: relative;
}

#body-screen > .lbl-color::after{
	content: "";
	top: 0;
	left: 0;
	z-index: 210;
	width: calc(var(--tamanoLetra) * 4rem);
	height: calc(var(--tamanoLetra) * 4rem);
	border-radius: 50%;
	position: absolute;
	transition: ease .5s;
	border: 2px solid var(--blanco1);
}

#body-screen > .lbl-color::after {
	background: url("../img/luna.svg") center /calc(var(--tamanoLetra) * 3.2rem) no-repeat var(--grisOscuro);
}

#body-screen > #swich-one:checked + .lbl-color::after {
	background: url("../img/sol.svg") center /calc(var(--tamanoLetra) * 3.2rem) no-repeat var(--naranjaWin);
}

#body-screen > #swich-one {
	display: none;
}