/*----------------------------------*/
/* BODY Line Time Profile
/*----------------------------------*/


#body-timeline {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 2%;
	margin-bottom: 3%;
}

#body-timeline > div {
	transition: all .3s;
	cursor: pointer;
}

#body-timeline > .enable-select > div > span {
	border-bottom: 2px ridge var(--blanco3);
	border-right: 2px ridge var(--blanco3);
}

#body-timeline > div > div {
	display: grid;
	grid-template-rows: auto;
	justify-items: center;
	grid-gap: .2rem;
}

#body-timeline > div span {
	width: calc(var(--tamanoLetra) * 5rem);
	height: calc(var(--tamanoLetra) * 5rem);
	border-radius: 50%;
	position: relative;
	--volume: calc(var(--tamanoLetra) * 3rem);
}

#body-timeline > div div:hover {
	transform: scale(1.05);
}

#body-timeline > div i {
	color: var(--parrafoI);
	font-size: calc(var(--tamanoLetra) * 1rem);
}

#body-timeline > div:hover span {
	border-bottom: 2px ridge var(--blanco3);
	border-right: 2px ridge var(--blanco3);
}

#body-timeline > div:first-child span::after {
	background: url("../img/carnet.svg") center /var(--volume) no-repeat;
}

#body-timeline > div:nth-child(0n+2) span::after {
	background: url("../img/estudios.svg") center /var(--volume) no-repeat;
}

#body-timeline > div:nth-child(0n+3) span::after {
	background: url("../img/experiencias.svg") center /var(--volume) no-repeat;
}

#body-timeline > div:nth-child(0n+4) span::after {
	background: url("../img/habilidades.svg") center /var(--volume) no-repeat;
}

#body-timeline > div:last-child span::after {
	background: url("../img/rrss.svg") center /var(--volume) no-repeat;
}

#body-timeline > div:first-child span::after, #body-timeline > div:nth-child(0n+2) span::after, #body-timeline > div:nth-child(0n+3) span::after,
#body-timeline > div:nth-child(0n+4) span::after, #body-timeline > div:last-child span::after {
	position: absolute;
	content: "";
	width: calc(var(--tamanoLetra) * 5rem);
	height: calc(var(--tamanoLetra) * 5rem);
}